server:
  port: 9001

spring:
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5435/commonsurveyservice
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: update
    database: POSTGRESQL
    show-sql: false
    open-in-view: false
  sql:
    init:
      platform: postgres

storage:
  bucket:
    name: test-bucket-common-dsr
